In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = np.random.randint(0, 100, size = (3,4))

In [4]:
data

array([[13, 12, 21, 38],
       [96, 49, 26, 22],
       [90, 96, 84, 42]], dtype=int32)

In [5]:
datapd = pd.DataFrame(data)

In [6]:
datapd

    0   1   2   3
0  13  12  21  38
1  96  49  26  22
2  90  96  84  42

In [11]:
frame = pd.DataFrame( data, columns = ['banana', 'apple', 'orange', 'mango' ], index = [ 'one', 'two', 'three'] )

In [12]:
frame

       banana  apple  orange  mango
one        13     12      21     38
two        96     49      26     22
three      90     96      84     42

In [13]:
frame['banana']

one      13
two      96
three    90
Name: banana, dtype: int32